
.btn .bx {
  vertical-align: inherit;
  margin-top: -3px;
  font-size: 1.15rem;
}


.bx.icon-single {
  font-size: 1.5rem;
}

.bxs-cart:before {
  font-size: 170%; 
}

.badge {
  font-size:52%;
}


a {
  font-size:14px;
}


.form-control {
  outline:none !important;
  box-shadow: none !important;
}
@media screen and (max-width:540px){
  .centerOnMobile {
    text-align:center
  }
}

/* search bar size */
  @media (min-width: 1200px) {
    .form-inline .form-control {
      width: 400px;
    }
  } 

/* user name  */
  #loginbtn{
    left: 87% ;
    top: 68%;
  } 


/* 
  ----------auto complete dropdown--------- */

  .dropdown-menu {
    position: absolute;
    z-index: 1000;
    margin-top: 0.125rem;
    font-size: 1rem;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
  }
  
  .position-relative {
    position: relative;
  }
  
  .position-absolute {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
  
 
  
  .dropdown-item {
    padding: 0.375rem 0.75rem;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }
  
  .dropdown-item:hover {
    background-color: #f8f9fa;
  }
  